name = "blog"
main = "build/worker/shim.mjs"
compatibility_date = "2023-03-22"
routes = [{ pattern = "blog.hongdatou.top/*", zone_id = "6570bd9018b428076624ed3bad29bb39" }]
usage_model = "bundled"
[build]
command = "cargo install -q worker-build && worker-build --release"

[vars]
MY_DOMAIN = "blog.hongdatou.top"
NOTION_DOMAIN = "hongdatou.notion.site"
PAGE_MAP = '{"/":"0ee44d46b1414fc4839d6732c28bf173","/links":"a4cc34e866a144bd919edcc93762575c","/donate":"ae7b6a63dda24a83bf87b2af908857ff","/about":"4aa6eff99185471a90e2774aad574e67"}'
COMMENT_MAP = '{"data-repo":"Jasonhonghh/notion-blog","data-repo-id":"R_kgDOMYxJ2w","data-category-id":"DIC_kwDOMYxJ284ChCKS","data-mapping":"title","data-input-position":"top","data-theme":"preferred_color_scheme","data-lang":"zh-CN"}'
PAGE_TITLE = "Hong"
PAGE_DESCRIPTION = "Hong | 后端/安全选手"
ICON_URL = "https://avatars.githubusercontent.com/u/30642514?v=4"
QUERY_BODY = '{"collectionView":{"id":"a5b688dd-2876-4f80-a47d-d84e713ac56e","spaceId":"d4aa424b-d5f8-4dc3-a0fb-e5270f17203e"},"source":{"type":"collection","id":"52de4e5e-ba6e-46a2-9dc5-5581637cf339","spaceId":"d4aa424b-d5f8-4dc3-a0fb-e5270f17203e"},"loader":{"type":"reducer","reducers":{"collection_group_results":{"type":"results","limit":10},"table:uncategorized:title:count":{"type":"aggregation","aggregation":{"property":"title","aggregator":"count"}},"table:uncategorized:[[=B:unique":{"type":"aggregation","aggregation":{"property":"[[=B","aggregator":"unique"}},"table:uncategorized:enzw:date_range":{"type":"aggregation","aggregation":{"property":"enzw","aggregator":"date_range"}}},"sort":[{"property":"enzw","direction":"descending"}],"searchQuery":"","userTimeZone":"Asia/Shanghai"}}'

[placement]
mode = "smart"
